@font-face {
  font-family: "Grandis";
  src: url("../static/fonts/Grandis-Regular.eot");
  src: url("../static/fonts/Grandis-Regular.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/Grandis-Regular.woff2") format("woff2"),
    url("../static/fonts/Grandis-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Gilroy";
//   src: url("../static/fonts/Gilroy-Bold.eot");
//   src: url("../static/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
//     url("../static/fonts/Gilroy-Bold.woff2") format("woff2"),
//     url("../static/fonts/Gilroy-Bold.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
